body {
	background-color: #F0E68C;
}
h1 {
	text-align: center;
	color: darkblue;
}
table{
	width: 100%;
	background-color: #E0E0E0;
}

td {
	padding:10px;
}
table a {
	color: brown;
	font-size: 1.5em;
	text-decoration: none;
}

h2 {
	text-align: center;
	color: darkred;
}

p {
	font-family: Arial;
	font-size: 16px;
	text-align: justify;
}
